.box{
    background-color: aqua;
    border:2px solid black;
    height:300px;
    width:300px;
    margin:2px;
    transition-property:all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function:linear ;
    /* transition-timing-function: ease-in; */
}
.box:hover{
    width: 800px;
    height: 700px;
    background-color: chartreuse;
}